body {
  font-family: Arial;
  margin: 0;
}

header {
  background: #610808;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background: #c46f6f;
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(0, 0, 0);
  margin: 10px;
  text-decoration: none;
}
section{
padding:20px;}
ul{
list-style:none;}
li{
background:#772a2a;
margin:10px;
padding:10px;
border-radius:5px;}

footer{
background:#d67070;
color:rgb(0, 0, 0);
text-align:center;
padding:20px;
margin-top:30px;}